h1{
  color: black;
  font-size: 0%;
  }
a{
  color: rgb(255, 255, 255);
  text-decoration:none;
}
.video-background {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1000;
    overflow: hidden;
}

#myVideo {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1000;
    transform: translateX(-50%) translateY(-50%);
}
body{
    background-color:rgba(0, 0, 0, 0.7);
}
.contenty {
    position: relative;
    z-index: 1;
    height: 740px;
    
}
.box1{
    height: 50px;
    width: 30%;
    border: 1px solid rgb(204, 27, 27);
    position: absolute
}
.box{
    height: 50px;
    width: 30%;
    border: 1px solid rgb(255, 255, 255);
    position: absolute
}
BAG{
  display: flex;
  justify-content: center;  
  align-items: center;
  color: white;
  font-size: 170%;     
}
#one{
    margin-top: 5%;
    margin-left:10% ;
}
#two{
    margin-top: 5%;
    margin-left:60% ;
}
#three{
    margin-top: 20%;
    margin-left:10% ;
}
#four{
    margin-top: 20%;
    margin-left:60% ;
}
.shake{
  animation: shake 5s infinite alternate;
}
@keyframes shake {
  0% { transform: translate(1px, 1px) ; opacity: 1; }
  25% { transform: translate(-1px, -2px) ; opacity: 0.75; }
  50% { transform: translate(-3px, 2px) ; opacity: 0.5; }
  75% { transform: translate(3px, 1px) ; opacity: 0.75; }
  100% { transform: translate(1px, -1px) ; opacity: 1; }
}